#logo.svg {
    height: 24px;
    width: 24px;
}
.navbar-brand {
    display: flex;
    align-items: center;
}

/*Hide class inheritance and assembly*/
h6,
.inheritance {
    display: none;
}
.rounded-image {
    border-radius: 50px; /* Adjust the value to control the roundness */
  }